@import url("https://fonts.googleapis.com/css?family=Fugaz+One")
#page-wrapper
  padding 60px 15px 40px 15px
#desktop-menu
  display none

@media screen and (min-width: 768px)
  #side-toggle
    display none
  #desktop-menu
    display block
    z-index 0
    padding-top 60px
  #page-wrapper
    padding-left 200px
