@import url("https://fonts.googleapis.com/css?family=Fugaz+One")
#page-wrapper
  padding 40px 0px 60px 0px
#desktop-menu
  display none

.ui.styled.accordion
  width auto
.ui.accordion .content
  color #000000

@media screen and (min-width: 480px)
  header.fixed.top .left.menu img
    width 150px
@media screen and (min-width: 768px)
  padding 40px 0px 60px 0px
  #side-toggle
    display none
  #desktop-menu
    display block
    z-index 0
    padding-top 60px
  #page-wrapper
    padding-left 200px
